/** --------------------------------------------------------------
 * Make your own custom style.
 *
 */

/** ==============================================================
 * Base
 */
@bgColorHtml: #424242;
@bgColorBody: #fff;
@colorAccentHeader1:  #3B440D;
@colorAccentHeader2:  #9FB129;


html {
    background-color: @bgColorHtml;
}

body {
    background-color: @bgColorBody;
}



/** --------------------------------------------------------------
 *  Typography
 */
//@import (inline) "fonts_dbwebb.css";
//@import (inline) "fonts_dbwebb.less";
//@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i|PT+Serif|Roboto';
//@fontFamilyHeadings:  serif;
//@fontWeightHeadings:  300;
//@fontFamilyBody:      sans-serif;
@fontFamilyLogo:        @fontFamilyTimesNewRoman;
@fontFamilyNavbar:      @fontFamilyTimesNewRoman;



/** ==============================================================
 * Header 
 */
@bgColorHeader: #323232;
@colorHeader: #ffffff;
@bgColorHeaderBorder: #666;

.outer-wrap-header {
    //background-color: @bgColorHeader;
    //border-top: 8px solid @bgColorHeaderBorder;
    //border-bottom: 6px solid @bgColorHeaderBorder;
    //color: @colorHeader;
    height: @magicNumber * 2;
    margin-bottom: @magicNumber / 2;

    a {
        //color: @colorHeader;
    }
    
    img {
        outline: 0;
    }
 }

.inner-wrap-header {
    max-width: none;
    //.clearfix();
    //.showGrid(1600);
}

.inner-wrap-header,
.logo-1 {
    position: relative;
}


// Layout of the header columns
.site-logo-text {
    .column(6);
}

.navbar2 {
    .column(12);
}

.profile {
    .column(6);
}

.search {
    //.column(2);
}



/** --------------------------------------------------------------
 * Logo and logo text
 *
 */
.site-logo-text {
    font-family: @fontFamilyLogo;
    font-size: 42px;
    line-height: 1;
    //letter-spacing: 4px;
    text-shadow: 2px -2px 2px #ccc;
    padding-left: 8px;

    a {
        color: #333;
        text-decoration: none;
        transition: all 0.2s linear;

        &:hover {
            color: @colorAccentHeader1;
            text-shadow: 2px -2px 2px @colorAccentHeader2;
        }
    }
}



/** ==============================================================
 * Navbar
 *
 */
@navbarBgColor:             none;
@navbarItemColor:           #333;
@navbarItemHoverColor:      #fff;
@navbarItemHoverBgColor:    transparent;
@navbarItemSelectedBgColor: transparent;
//@navbarItemSelectedBorderColor: #888;

// Mobile button
@navbarMobileBorderColor:               #ccc;
@navbarMobileItemBorderColor:           #ccc;
@navbarMobileItemHoverBorderColor:      #ccc;

// The menu button hover
@navbarMenuButtonHoverColor:         #ccc;

// The menu clicked
@navbarMenuButtonClickedBorderColor:    #ccc;

.rm-navbar {
    font-family: @fontFamilyNavbar;
    line-height: 1;
    font-size: 22px;
    top: 10px;
}

.rm-desktop {
    float: none;
    text-align: center;
}

.rm-default {
    a {
        padding: 0 30px;
        text-decoration: none;
        transition: all 0.6s linear;
    }

    li.selected a,
    a:hover {
        color: @colorAccentHeader1;
        text-shadow: 0px 0px 1px @colorAccentHeader2;
        text-decoration: underline;
    }

    li.selected a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.rm-mobile {
    background-color: @bgColorHeader;
}



/** ==============================================================
 * User profile
 *
 */
 .profile {
     text-align: right;
     padding-right: 8px;
     padding-top: 4px;

     .logout {
         display: none;
     }

     .login {
         .text {
             display: none;
         }
     }

     .ucp,
     .login {
         a {
             color: @colorAccentHeader1;

             &:hover {
                 color: @colorAccentHeader2;
             }
         }
     }

     .gravatar {
         img {
             border-radius: 50%;
             vertical-align: -8px;
         }

         a:hover img {
             opacity: 0.7;
         }
     }
 }





/** ==============================================================
 * Flash
 *
 */
.inner-wrap-flash {
    //margin-bottom: @magicNumber;
}



/** ==============================================================
 * Column above and below
 *
 */
.inner-wrap-columns-above {
    margin-bottom: @magicNumber;
}



/** ==============================================================
 * Main
 *
 */
.inner-wrap-main {
    padding-bottom: @magicNumber * 2;
}

.main {
    min-height: @magicNumber * 20;
}



/** ==============================================================
 * Article and Sidebar blocks
 *
 */
@header1BorderColor: #666;
@headerBorderColor: #ccc;

@blockBorderColor: #ccc;
@blockBgColor: #eee;
@blockGradientColorStart: #fff;
@blockGradientColorEnd: #ccc;

.article {
    h1 {
        border-bottom: 1px solid @header1BorderColor;
    }

    h2 {
        border-bottom: 1px solid @headerBorderColor;
    }
    
    margin-bottom: @magicNumber * 3;
 }

.article,
 .sidebar,
 .columns-above,
 .columns-below {
     .block {
         margin-bottom: @magicNumber * 2;

         h4 {
             border-top: 1px solid @blockBorderColor;
             //border-bottom: 1px solid @borderLight;
             background-color: @blockBgColor;
             #gradient .horizontal(@blockGradientColorStart, @blockGradientColorEnd);
             .anchorAnonymous();
         }
     }
 }

 .sidebar-right {
     //padding-top: @magicNumber * 2;
 }




/** ==============================================================
 * The footer column area.
 *
 */
@bgColorFooter: @bgColorHtml;
@colorFooterWrapper: #ddd;
@colorFooter: #aaa;
@borderFooter: #777;
@borderColor: #666;

.outer-wrap-footer {
    background-color: @bgColorFooter;
    padding-top: @magicNumber;
    padding-bottom: @magicNumber * 2;
}

.footer-column-wrapper {
    color: @colorFooterWrapper;
    border-bottom: 1px solid @borderColor;
    padding-bottom: @magicNumber;
    margin-bottom: @magicNumber * 2;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;
    }
}

.footer-column-x {
    padding-bottom: @magicNumber;
    padding-right: 1em;
}

.footer-column-1,
.footer-column-2 {
    border-right: 1px solid @borderColor;
}

.footer-column-2,
.footer-column-3 {
    padding-left: 1em;
}

.site-footer {
    color: @colorFooter;
    text-align: center;
    //line-height: 0.5em;
    padding-bottom: @magicNumber;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        
        &::after {
            content: " • ";
        }

        &:last-child::after {
            content: none;
        }
    }

    a {
        color: inherit;
    }
}
