/** 
* Grillcon theme.
*/
@import url(style.less);


@colorAccentHeader1:  #ff0000;
@colorAccentHeader2:  #ff4600;
@colorAccentHeader3:  #ff3f00;



/** --------------------------------------------------------------
 *  Typography
 */
//@fontFamilyHeadings:  @fontFamilyCambria;
@fontFamilyHeadings:  @fontFamilyMonospace;
//@fontFamilyBody:      @fontFamilyHelveticaNeue;
//@fontFamilyBody:      @fontFamilyHelvetica;
@fontFamilyBody:      @fontFamilyMonospace;

body {
    .body-font(130%);
}



/** --------------------------------------------------------------
 *  Anchors
 */
@anchorColor:         #ff0000;
@anchorColor2:        #ff0000;
@anchorColorHover:    #ff4600;
@anchorColorActive:   #ff4600;
@anchorColorVisited:  #ff3f00;



/** --------------------------------------------------------------
 *  Header
 */
.logo-1 {
    position: absolute;
    top: 58px;
    left: 10px;
}

.site-logo-text {
    font-family: @fontFamilyMonospace;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}



/** --------------------------------------------------------------
 *  Navbar
 */
/*
// Mobile button
@navbarMobileBorderColor:               @anchorColor;
@navbarMobileItemBorderColor:           @anchorColor;
@navbarMobileItemHoverBorderColor:      @anchorColor;

// The menu button hover
@navbarMenuButtonHoverColor:         @anchorColor;

// The menu clicked
@navbarMenuButtonClickedBorderColor:    @anchorColor;
*/


/** --------------------------------------------------------------
 *  Navbar
 */
// Navbar
//@navbarItemColor:        darken(#487FA6, 30%); 
//@navbarItemHoverColor:   #487FA6;
//@navbarItemHoverBgColor: lighten(#487FA6, 50%);

// Dropdown
//@submenuBgColor:         lighten(#487FA6, 40%);
//@submenuItemBorderColor: #487FA6;

.rm-navbar {
    font-family: @fontFamilyMonospace;
}

.rm-desktop {
    text-align: center;

    li {
        min-width: 6em;
        font-size: 20px;
        text-align: center;

        li:first-child a {
            padding-left: 0;
        }

        li:last-child a {
            padding-right: 0;
        }

        &.selected a,
        a:hover {
            color: @colorAccentHeader1;
            text-shadow: 0px 0px 1px @colorAccentHeader2;
            text-decoration: underline;
        }
    }
}

.rm-max {
    text-align: left;
}

// Max
//@maxBgColor:                darken(#487FA6, 20%);
//@maxMenuItemClickedBgColor: darken(#487FA6, 30%);
@maxButtonFontSize:         2em;
//@maxButtonColor:            @maxMenuItemClickedBgColor;
@maxButtonClickedColor:     @colorAccentHeader1;
//@maxButtonSubmenuBgColor:    darken(#487FA6, 25%);
//@maxButtonSubmenuHoverBgColor: darken(#487FA6, 15%);



/** --------------------------------------------------------------
 * Figure
 */
.figure {
    display: block;

    figcaption {
        display: block;
    }
}



/** --------------------------------------------------------------
 * Article and Sidebar blocks
 *
 */
 @header1BorderColor: #ff8000;
 @headerBorderColor: #ff8000;

 @blockBorderColor: #ffaf00;
 @blockBgColor: #ffff00;
 @blockGradientColorStart: #fff;
 @blockGradientColorEnd: #ffff00;

.sidebar,
.columns-above {
    .block {
        h4 {
            padding: 0.5em 0 0.5em 0.5em;
        }
    }
}



/** --------------------------------------------------------------
 * Media queries
 *
 */
@media screen and (max-width: 1650px) {
    .logo-1 {
        width: 150px;
    }
}

@media screen and (max-width: 1440px) {
    .logo-1 {
        width: 100px;
        left: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .site-logo-text {
        .column(6);
    }

    .navbar2 {
        .column(16);
    }
}

@media screen and (max-width: 1000px) {
    .site-logo-text {
        .column(8);
    }

    .navbar2 {
        .column(12);
    }

    .rm-desktop {
        li {
            min-width: auto;

            a {
                padding: 0.5em;
            }

            &:first-child a {
                padding-left: 0;
            }

            &:last-child a {
                padding-right: 0;
            }
        }
    }
}

/*
@media screen and (max-width: 960px) {
    .site-logo-text {
        .column(8);
    }
}
*/
@media screen and (max-width: 680px) {
    .site-logo-text {
        .column(20);
    }
}
