/** 
* Grillcon theme.
*/
@import url(style.less);



/** --------------------------------------------------------------
 *  Typography
 */
//@fontFamilyHeadings:  @fontFamilyCambria;
//@fontFamilyBody:      @fontFamilyHelvetica;



/** --------------------------------------------------------------
 *  Anchors
 */
/*
@anchorColor:         #ff0000;
@anchorColor2:        #ff0000;
@anchorColorHover:    #ff4600;
@anchorColorActive:   #ff4600;
@anchorColorVisited:  #ff3f00;
*/



/** --------------------------------------------------------------
 *  Header
 */
.logo-1 {
    top: 70px;
    left: 10px;
 }




/** --------------------------------------------------------------
 *  Extra
 */
.square150 {
    width: 150px;
    height: 150px;
    border: 1px solid darkgreen;
    margin-bottom: @magicNumber;
    display: flex;
    align-items: center;
    justify-content: center;
}
