/** 
* Grillcon theme.
*/
@import url(style.less);



/** --------------------------------------------------------------
 *  Typography
 */
//@fontFamilyHeadings:  @fontFamilyWideSerif;
//@fontFamilyBody:      @fontFamilyHelvetica;



/** --------------------------------------------------------------
 *  Anchors
 */
/*
@anchorColor:         #ff0000;
@anchorColor2:        #ff0000;
@anchorColorHover:    #ff4600;
@anchorColorActive:   #ff4600;
@anchorColorVisited:  #ff3f00;
*/



/** --------------------------------------------------------------
 *  Header
 */
@colorSiteLogoShadow:       #999;
@colorSiteLogoShadowHover:  #bbb;

.site-logo-text {
    //font-size: 42px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

.logo-1 {
    position: absolute;
    top: 55px;
    left: 0;
}
