/** 
* Grillcon theme.
*/
@import url(style.less);



/** --------------------------------------------------------------
 *  Typography
 */
//@fontFamilyHeadings:  @fontFamilyWideSerif;
//@fontFamilyBody:      @fontFamilyHelvetica;



/** --------------------------------------------------------------
 *  Anchors
 */
/*
@anchorColor:         #ff0000;
@anchorColor2:        #ff0000;
@anchorColorHover:    #ff4600;
@anchorColorActive:   #ff4600;
@anchorColorVisited:  #ff3f00;
*/



/** --------------------------------------------------------------
 *  Header
 */
.logo-1 {
    top: 55px;
    left: 0;
}



/** ==============================================================
 * Route specific style.
 */
.route- {
    .outer-wrap-flash {
        margin-bottom: @magicNumber;
    }

    .article {
        margin-bottom: 0;
    }
}

.route-kurser,
.route-material,
.route-utbildning,
.route-community {
    .outer-wrap-main {
        display: none;
    }
}
